#data-container{
height: 2rem;
width: 97vw;
}
#data-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.data-displayed{
  font-size: 1rem;
  color: lightblue;
}

.charts-of-pie-main{
  background-color: rgba(0, 0, 0, .9);
  z-index: 0;

}
#action {
  position: static;
  top: 0;
  left: 0;
  width: 10rem;
  height: 2rem;
  background-color: grey;
  z-index: 99;
}
.chartContainer{
  height: 93vh;
  width: 90vw;
  top: 0 ;
  right: 0;
}
#chart-type-options-container{
  display: flex;
}
.chart-type-option{
  
  
}