.charts-of-pie-main{
  background-color: rgba(0, 0, 0, 1);
  z-index: 0;

}
#action {
  position: static;
  top: 0;
  left: 0;
  width: 10rem;
  height: 2rem;
  background-color: grey;
}
.chartContainer{
  height: 100vh;
  width: 100vw;
  top: 0 ;
  right: 0;
}
#chart-type-options-container{
  display: flex;
}
.chart-type-option{
  
  
}